<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>2018 FIFA World Cup Russia</title>

    <link href="/static/timk/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" type="text/css">
    <!-- Custom styles for this template -->
    <link href="/static/timk/css/4-col-portfolio.css" rel="stylesheet" type="text/css">
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.css" rel="stylesheet"> -->
    <link href="/static/timk/css/flags.css" rel=stylesheet type="text/css">
    <link href="/static/timk/assets/docs.css" rel="stylesheet" type="text/css">
    <link href="/static/timk/css/flag-icon.css" rel="stylesheet" type="text/css">

  </head>

  <body class="bg">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'timk:world-cup-groups' %}">WatSports</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'timk:world-cup-groups' %}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'timk:teams' %}">Teams</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'timk:world-cup-groups' %}">Games</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        
        
          <!-- Page Heading 
      <h1 class="my-4">Page Heading
        <small>Secondary Text</small>
      </h1>-->

      

          {% block content %}  
          {% endblock content %}
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <!-- /.row -->
    </div></div></div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; WatSports 2018</p>      </div>
      <!-- /.container -->
    </footer>


  </body>

</html>
